DB_NAME = test
DB_USER = postgres
DB_PASS = root 
PARTITION = E:/
USERS_ROOT_PATH = USERS 
MASTER_EMAIL = khan.rudradip@gmail.com
ADMIN_SECRET = we_are_ice_llp_bod
BACKEND_ADMIN_DIR = ADMINS
APP_ID = 20139750
ENV=prod
FRONT_END_URL=http://localhost:8080
APP_EMAIL_ID=forwardragon007@gmail.com
APP_HASH = 93ecb11d9a53102ebc768efadaa65c3f
FRONTEND_URI=http://localhost:8080
SESSION_SECRET_KEY=the_dragon_rises_soaring_high_above_all_creation
SECRET_KEY = blazing_fast_hawk_caught_the_rabbit, and then the hawk_wondered_if_all_there)is!toLIfe$%
ALGORITHM = HS256
ACCESS_TOKEN_EXPIRY = 100
MQ_USERNAME = guest 
MQ_PASSWORD = guest
MESSAGE_BROKER_SERVER = localhost
TELEGRAM_FWD_EVENT_PUBLISH = telegram_events_pub
TELEGRAM_FWD_EVENT_CONSUME = telegram_events_resp
SPINNER_TELEGRAM_PUBLISH_Q = multispinner_telegram_pub
SPINNER_TELEGRAM_CONSUME_Q = multispinner_telegram_resp
WORKERS_TELEGRAM_PUBLISH_Q = workers_telegram_pub
WORKERS_TELEGRAM_CONSUME_Q = workers_telegram_resp
TELEGRAM_SESSION_DIRS = telegram_session
TELEGRAM_MEDIA_DIRS = telegram_media
MESSAGE_BROKER_FORWARDER_CHANNEL = teleforward
NOWPAYMENTS_API_KEY = 08Z4HKX-1MW4P1B-QKWD68Y-WC9X4ND
NOWPAYMENTS_IPN_SECRET = we_are_NEXOVIUS_llp_bod!@@(.
BACKEND_DOMAIN_URI = https://forwardragon.com
TON_PAYOUT_ADDRESS = ...
NOWPAYMENTS_SUCCESS_REDIRECT = /payment/success
NOWPAYMENTS_CANCELLED_REDIRECT = /payment/cancelled
PLAN_VALIDATOR_WATCHDOG=12
ORDER_EXPIRY_THRESHOLD_MINUTES = 30
ORDER_EXPIRY_WATCHDOG_INTERVAL_MINUTES = 1
JOB_API_ENCRYPTION_SECRET = Nexovius(.().)_CORP_RISES_!@@(.().)
JOBSEEKER_DB_NAME = Jobseeker_Lite_storage